tgcrypto
Pillow
hachoir
psycopg2-binary
sqlalchemy==1.3.23
motor
asyncio
dnspython

aiohttp
beautifulsoup4
numpy

ffmpeg-python
ffmpeg
pyrogram
feedparser
requests



aiofiles
pyromod
psutil

python-dotenv
mutagen


olefile
bs4
